.SelectSort{
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: var(--famous-color);
    font-size: 25px;
    font-weight: 600;
    height:70px
}

@media(max-width:375px){
    .SelectSort{
        font-size:20px;
        height: 50px;
    }
}