
.MyOrdersSection{
    display: flex;
    flex-direction: column;
   
    flex-grow: 2;
    height: 600px;
}


.OrdersContainer{
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    
}


.OrdersContainer::-webkit-scrollbar{
    appearance: none;
    width:10px;
    
   
}

.OrdersContainer::-webkit-scrollbar-track{
    background-color: var(--light-famous-color);
}

.OrdersContainer::-webkit-scrollbar-thumb{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--famous-color);
}

.OrdersLogotype{
    font-size: 55px;
    display: flex;
    align-items: center;
    
}
.OrdersLogotype::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../../../shared/img/ShoppingBasket.png);
    background-repeat: no-repeat;
    background-position: center;
}


.LinkOnOtherProfile{
    font-size: 30px;
    font-weight: 600;
    color:var(--famous-color);
    margin-left: 30px;
    text-decoration: none;
    
}


@media (max-width:475px) {
.OrdersContainer::-webkit-scrollbar{
    appearance: none;
    width:5px;
    }
    .OrdersLogotype{
        font-size: 40px;
    }
    .LinkOnOtherProfile{
        font-size: 20px;
        margin:0;
    }
    .OrdersLogotype::before{
        display: none;
    }
}