.OrderArticle {
	display: flex;
	justify-content:flex-start;
	align-items: center;
	margin: 0px 0px 50px 0px;
	
}

.OrderName {
	font-size: 40px;
	font-weight: 600;
	color: var(--famous-color);
}

.OrderPrice {
	font-size: 40px;
	font-weight: 600;
}

.OrderStatus {
	font-size: 24px;
	font-weight: 600;
	color: var(--famous-color);
}

.OrderSrc {
	width: 230px;
	height: 230px;
	margin-right: 10px;
}

.Wrapper{
	display: flex;
	align-items: center;
}

@media (max-width: 425px) {
	.OrderSrc {
		width: 100px;
		height: 100px;
	}

	

	.OrderName {
		font-size: 20px;
		font-weight: 600;
	}

	.OrderPrice {
		font-size: 20px;
		font-weight: 600;
	}

	.OrderStatus {
		font-size: 24px;
		font-weight: 600;
	}
}
@media(min-width:425px) and (max-width:500px){
	.Wrapper{
		flex-wrap: wrap;	
	}
	.OrderArticle{
		align-items: flex-start;
		justify-self:flex-end
	}
}