.OrderArticle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 50px 0px;
}

.OrderName {
	font-size: 40px;
	font-weight: 600;
	color: var(--famous-color);
}

.OrderPrice {
	font-size: 40px;
	font-weight: 600;
}

.OrderStatus {
	font-size: 24px;
	font-weight: 600;
	color: var(--famous-color);
}

.OrderSrc {
	width: 230px;
	height: 230px;
	margin-right: 10px;
}
@media (max-width: 320px) {
	.OrderSrc {
		width: 150px;
		height: 150px;
	}

	

	.OrderName {
		font-size: 30px;
		font-weight: 600;
	}

	.OrderPrice {
		font-size: 25px;
		font-weight: 600;
	}

	.OrderStatus {
		font-size: 24px;
		font-weight: 600;
	}
}
