
.ProfileContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    gap:200px;
}

@media (max-width:1440px){
    .ProfileContainer{
        gap:100px;
        width: 95vw;
        
    }
}

@media(min-width:1441px){
    .ProfileContainer{
        gap:100px
    }
}