.ElementsLogotype{
    font-size:55px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.ElementsContainer{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.OrdersSection{
    height:600px;
    flex-grow: 3;
}

.ElementsLogotype::before{
    content: '';
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../../../shared/svg/Shopping\ Cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}
@media(max-width:320px){
    
    .ElementsLogotype{
        font-size: 30px;
    }
    .ElementsLogotype::before{
        background-size: 40px;
    }
}

@media(min-width:375px) and (max-width:400px){
    .ElementsContainer{
        width:375px;
        font-size: 30px;
    }
    .OrdersSection{
        width:375px;
    }

}

@media(min-width:425px) and (max-width:500px){
    
    .ElementsContainer{
        width:425px;
        
    }
    .OrdersSection{
        width:425px;
    }
}