.ProfileContainer{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    gap:100px;
}

.liElement:nth-child(3){
    cursor: pointer;
}

.liElement:nth-child(3):hover{
    outline: 5px solid var(--famous-color);
}

@media (max-width:330px){
    .ProfileContainer{
        
        width: 94vw;
        
    }
}
@media(max-width:1000px){
    .ProfileContainer{
        flex-wrap: wrap;
    }
}
