.ProfileContainer{
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    gap:100px;
}




@media (max-width:330px){
    .ProfileContainer{
        
        width: 94vw;
        
    }
}
@media(max-width:1000px){
    .ProfileContainer{
        flex-wrap: wrap;
    }
}
